* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}

#terminal {
  width: 100%;
  height: 95vh;
  background-color: black;
}

input {
  width: 100%;
  height: 5vh;
  border-radius: 0;
  border: 0;
  border-top: 1px solid #ccc;
  background-color: black;
  color: white;
}
